      
    <div class="w-full flex justify-center items-center  flex-col pt-9 text-white">
      <div>
        <img src="assets/icons/Logo.svg" alt="">
      </div>
      <div  class="w-1/4">
        <div class="border-b-2 border-[#39B7E9] pb-2">
          <ul class="flex">
            <li  class="mr-8 cursor-pointer text-sm"><a href="login">Login</a></li>
            <li href="signup" class="cursor-pointer text-sm"><a href="signup"> Sign Up</a> </li>
          </ul>
        </div>
        <div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    